<!doctype html>
<html 🆖>
<head>
  <title>Angular 2 Universal Starter</title>
  <meta charset="UTF-8">
  <meta name="description" content="Angular 2 - Universal">
  <meta name="keywords" content="Angular 2 - Universal">
  <meta name="author" content="Pedro Barros">
  <meta name="viewport" content="width=device-width,minimum-scale=1">

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script src="/nm/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="/nm/tether/css/tether.min.css" />
  <script src="/nm/tether/js/tether.min.js"></script>
  <link rel="stylesheet" href="/nm/bootstrap/css/bootstrap.min.css" />
  <script src="/nm/bootstrap/js/bootstrap.min.js"></script>
  

  <base href="/">

</head>
<body>

  <app>
    Loading Universal ...
  </app>

  
  <script src="/index.js"></script>
</body>
</html>
